<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Breanna's Homepage</title>
 
 	<!-- Templates -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap.css">
    <link href="static/css/bootstrap-glyphicons.css">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
 
<body>
    <div class="container">
    	<!-- Header -->
        <div class="header">
            <nav>
				<ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="Home">Home</a></li>
                    <li role="presentation"><a href="Resume">CV</a></li>
                    <li role="presentation"><a href="Random">Random</a></li>
                    <li role="presentation"><a href="Links">Links</a></li>
                </ul>
            </nav>

            <h3 class="text-muted">Breanna Devore-McDonald</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Hello, world!</h1>
        </div>

		<hr>
 
 		<!-- Section 1, Welcome Info -->
        <div class="row-fluid">
            <div class="span12 text-left">
                <h2><span class="label label-success">Welcome!</h2>
				<br>                
				<p>
					<h5>My name is Breanna, and I am a 
                        3<sup>rd</sup> year computer science 
                        student at the 
                        <a href="https://cse.nd.edu/">University of Notre Dame</a>.</h5></p>

					<p><h5>After a short stint of refusing to 
                        partake in the hot shift towards web 
                        development, I've finally decided to 
                        create a personal webpage, and it 
                        looks like you've made your way to 
                        it. Enjoy!</h5>
				</p>
            </div>
        </div>

		<hr>		
		
		<!-- Section 2, Carousel -->
		<div id="carousel-my-homes" class="carousel slide" data-ride="carousel" data-interval="4000">
  		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-my-homes" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-my-homes" data-slide-to="1"></li>
			<li data-target="#carousel-my-homes" data-slide-to="2"></li>
			<li data-target="#carousel-my-homes" data-slide-to="3"></li>
			<li data-target="#carousel-my-homes" data-slide-to="4"></li>
		</ol>
		 
		<div class="carousel-inner" style="overflow:hidden; width:100%; height: 350px !important;">
			<div class="item active">
				<img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Sun_Dial_Bridge,_Redding,_CA,_USA.jpg" alt="Sundial Bridge">
			  	<div class="carousel-caption" style="position: absolute; top:-20px">
				  <h3>Redding, California</h3>
			  	</div>
			</div>
			
			<div class="item">
			  <img src="https://www.azamaraclubcruises.com/sites/default/files/heros/dublin-ireland.jpg" alt="Dublin">
			  <div class="carousel-caption" style="position: absolute; top:-20px">
				  <h3>Dublin, Ireland</h3>
			  </div>
			</div>
			
			<div class="item">
			  <img src="http://www.bloomberg.com/image/iKyA_09x9sHg.jpg" alt="IBM Almaden" style="zoom:2">
			  <div class="carousel-caption" style="position: absolute; top:-20px">
				  <h3>IBM Almaden Research Center, San Jose, California</h3>
			  </div>
			</div>
			
			<div class="item">
			  <img src="http://t.wallpaperweb.org/wallpaper/nature/1600x1200/Half_Moon_Bay_California.jpg" alt="Half Moon Bay" style="position: absolute; top:-30px">
			  <div class="carousel-caption" style="position: absolute; top:-20px">
				  <h3>Half Moon Bay, California</h3>
			  </div>
			</div>
			
			<div class="item">
			  <img src="http://youthsports.nd.edu/assets/163851/original/8.16.13_campus_skyline_sunsetblog.jpg" alt="Notre Dame" style="position: absolute; top:-50px">
			  <div class="carousel-caption" style="position: absolute; top:-20px">
				  <h3>University of Notre Dame, Notre Dame, Indiana</h3>
			  </div>
			</div>
			
		  </div>
		 
		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-my-homes" role="button" data-slide="prev">
          </a>
		  <a class="right carousel-control" href="#carousel-my-homes" role="button" data-slide="next">
		  </a>
		</div>
		
		<hr>	
	
		<!-- Section 3, About Me -->		
		<div class="row-fluid">
			<div class="span12 text-left"> 
				<h2><span class="label label-success">About Me</span></h2><br>
				<div class="row featurette">
					<div class="col-md-8"> 
				    <p><h5>
						I'm from Northern California and I love winter. Just kidding.
					<br></p></h5>
					<p style="text-index: 40px">
						In all seriousness, I do enjoy living 
                        in Indiana because that's where I
                        get to explore my passions. I am 
                        absolutely in love with computer 
                        science. I'm lucky enough to be in 
                        a position where I get to learn 
                        something new each day (multiple times 
                        a day), and at every moment
                        I become even more passionate. The 
                        more I learn, the more I want to learn.
                        <br>
                        <br>
                        I've always been interested in cyber 
                        security, but I've recently
                        figured out that I'm more interested 
                        in the practice of creating 
                        secure code and software, and the 
                        theory behind why such a computation
                        exists and is necessary. My interests 
                        are not just singular though:
                        programming language theory, theoretical 
                        computer science, automata theory, 
                        software development, and hacking 
                        on all things Linux, just to name a 
                        few. 
                       <br></p>
				    </div>
				    
					<div class="col-md-4"> 
						<img class="img-circle" src="static/football-pic.jpg" alt="Me" width="225" height="225">
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 text-left"> 
					 <p style="text-index: 40px">
                        I was introduced to computer science 
                        research last summer, and since then I 
                        have not been able to invision a future 
                        consisting of anything besides research. 
                        After graduation, I plan to head to 
                        graduate school to do just that: pursue 
                        some neat and engaging research (and a 
                        degree) in a mix between programming 
                        language theory and security. Well, 
                        that's the plan for now.
                        <br>
                        <br>
                        Last summer, I lived in Ireland where 
                        I interned at IBM Research Dublin. That 
                        was my first experience both traveling 
                        outside of the US and working on a 
                        research project, and it was phenomenal. 
                        Working on computer science research 
                        opened my eyes to parts of computer 
                        science that I had never seen before and 
                        showed me that there is so much that I 
                        don't know that I would actually love.
                        Not only do I feel like a better 
                        programmer after my internship, but 
                        I also feel like a more well-rounded 
                        person. It's so easy to get caught up 
                        in assignments and projects during the 
                        academic year and forget the overall 
                        goal and lose perspective. However, 
                        last summer I learned how to take a step 
                        back from the everyday coding projects 
                        and take it all in. After a summer of 
                        not being a student, I somehow learned 
                        how to be a better student. 
                        <br>
                        <br>
                        Just next month, I will be interning 
                        for IBM at the Almaden Valley Research 
                        Center in San Jose. I'm truly excited to 
                        step foot in that company once again, 
                        because I know I'm going to learn so 
                        much, just like last year. Wish me luck! 
						<br></p>
					</div>
				</div>
			</div>
		</div>
		
		

 		<hr>
	
		<!-- Section 4, Repo -->
 		<div class="row-fluid">
            <div class="span12 text-left">
			<p class="lead"><h3>
				<span class="glyphicon glyphicon-asterisk"></span>
				Take a look at this webpage's <a href="https://github.com/bdevorem/bdevorem-webpage">repository</a></h3>
			</p>
		   	</div>
		</div>
 		
 		<hr>
 		
 		<!-- Section 5, Links page-->
		<div class="row-fluid">
            <div class="span12 text-left">
			<p class="lead"></p>
		        <p>
					<a class="btn btn-lg btn-info" href="Links" role="button">View my contact info</a>
		        </p><br>
			</div>
		</div>
 		
 		<!-- Footer -->
        <footer class="footer">
            <p>&copy; Created by Breanna using <a href="https://www.python.org/">Python</a>, <a href="http://flask.pocoo.org/">Flask</a>, and <a href="http://getbootstrap.com/">Bootstrap</a>, Jan 2016</p>
        </footer>
    </div>
</body>
 
</html>
