{% extends "base.html" %}

{% block header %}
    	<!-- Header -->
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" ><a href="Home">Home</a></li>
		    		<li role="presentation" ><a href="Resume">CV</a></li>
                    <li role="presentation" ><a href="Random">Random</a></li>
                    <li role="presentation" class="active" ><a href="Links">Links</a></li>
                </ul>
            </nav>

            <h3 class="text-muted">Breanna Devore-McDonald</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Links</h1>
        </div>
{% endblock %}
		<hr>
{% block content %}
		<!-- Section 1, Page Links -->
        <div class="row-fluid">
            <div class="span12 text-left">
				<h2><span class="label label-success">Pages</span></h2><br>
				<div class="row featurette">
					<div class="col-md-6">
						<p>
							<h4><a class="btn btn-default btn-info" href="https://github.com/bdevorem/" role="button">GitHub</a><h4>
							<h4> Here, you will find some of my coding projects.</h4>
							<h5>The list is currently lacking because I have some non-Git projects, but those should be integrated and uploaded sometime in the near future.</h5>
						</p>
					</div>

					<div class="col-md-6 text-left">
						<p>
							<h4><a class="btn btn-default btn-info" href="https://www.linkedin.com/in/bdevorem" role="button">LinkedIn</a></h4>
							<h4>Here, you will find my professional webpage.</h4>
							<h5>Don't be alarmed, it still has some character to it.</h5>
						</p>
					</div>
				</div><br>
				
				
				<div class="row featurette">
					<div class="col-md-6">
						<p>
							<h4><a class="btn btn-default btn-info" href="https://bitbucket.org/bdevorem/" role="button">Bitbucket</a><h4>
							<h4>Here, you probably won't find any coding projects.</h4>
							<h5>Private repositories are sometimes nice.</h5>
						</p>
					</div>

				</div>
	    	</div>
		</div>

		<hr>

		<!-- Section 2, Contact Info -->
		<div class="row-fluid">
	    	<div class="span12 text-left">
                <h2><span class="label label-success">Contact Info</span></h2><br>
				<div class="row featurette">
					<div class="col-md-6 text-left">
						<h4>Email</h4>
							<address>
				  				<a href="mailto:#"> bdevorem@nd.edu</a><br>
								<a href="mailto:#"> breannamcd11@gmail.com</a><br>
                                <a href="mailto:#"> br33zyxr@gmail.com</a><br>
							</address>
					</div>
	
					<div class="col-md-6 text-left">
						<h4>Snail Mail</h4>
							<address>
				  				<strong>Breanna Devore-McDonald</strong><br>
				 				245 Lewis Hall<br>
				  				Notre Dame, IN 46556<br>
							</address>
					</div>				
				</div>
			</div>
		</div>
{% endblock content %}
