<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Breanna's Homepage</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" ><a href="Home">Home</a></li>
		    		<li role="presentation" ><a href="Resume">Resume</a></li>
                    <li role="presentation" class="active"><a href="Random">Random</a></li>
		    		<li role="presentation"><a href="Links">Links</a></li
                </ul>
            </nav>

            <h3 class="text-muted">Breanna Devore-McDonald</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Random!</h1>
        </div>

		<hr>

		<div class="row-fluid">
            <div class="span12 text-center">
				<p>
				Currently, nothing interesting about me exists (on here)!
				</p>
	    	</div>
		</div>
 
        <footer class="footer">
            <p>&copy; Created by Breanna using Python, Flask, and Bootstrap, Jan 2016</p>
        </footer>
    </div>
</body>
 
</html>
