<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Breanna's Homepage</title>
 
 	<!-- Templates -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap.css"> 
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
 
<body>
    <div class="container">
    	<!-- Header -->
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" ><a href="Home">Home</a></li>
		    		<li role="presentation" ><a href="Resume">CV</a></li>
                    <li role="presentation" class="active"><a href="Random">Random</a></li>
                    <li role="presentation"><a href="Links">Links</a></li>
                </ul>
            </nav>

            <h3 class="text-muted">Breanna Devore-McDonald</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Random</h1>
        </div>

		<hr>

		<!-- Section 1, Current Obsessions -->
		<div class="row-fluid">
            <div class="span12 text-left">
				<p>
				<h2><span class="label label-danger">Current Obsessions</h2>
                    </p><br>
	    	</div>
		</div>
		
		<!-- Subsection 1, Robert DeLong -->
		<div class="row featurette">
			<div class="col-md-5"> 
				<img class="img-circle" src="static/bluewave.jpg" alt="Robert DeLong Photo" width="200" height="200">
			</div>
			<div class="col-md-7"> 
				<h2 class="featurette-heading">My Current Playlist</h2>
				<p class="lead"><h4>
                    This is so cool. <a href="https://www.youtube.com/watch?v=5bRg519gPuI">Don't Wait Up</a>.<br>
                    Always need a little <a href="https://www.youtube.com/watch?v=oDNcL1VP3rY">RHCP</a>.<br>
					Danielle Haim and The Killers <a href="https://www.youtube.com/watch?v=CPCSsFuvwaI">here</a>.<br>
                    <a href="https://soundcloud.com/alt-j/every-other-freckle">Every Other Freckle</a> by Alt J.<br>
                    The pop token, Sia with <a href="https://www.youtube.com/watch?v=31crA53Dgu0">Cheap Thrills</a>.<br>
                    The Vaccines, <a href="https://www.youtube.com/watch?v=7RM5byRW_jM">Dream Lover</a>. So good.<br>
                     <br>
				</h4></p>
			</div>
		</div>
		
		<!-- Subsection 2, Best Movie Ever -->
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md-7"> 
				<h2 class="featurette-heading text-left">Star Wars Conspiracies</h2>
				<p class="lead"><h4>
                    <a href="http://www.starwarsringtheory.com/">Ring Theory</a>. Leave now if you disagree.<br>
					The <a href="http://www.iflscience.com/space/death-star-iis-destruction-may-have-doomed-ewoks-say-scientists">fate of the Ewoks</a><br>
					<a href="http://www.buzzfeed.com/ryanhatesthis/seriously-dont-click-this-if-you-havent-seen-tfa-yet#.hbKJ6y95j">This one</a> about Kylo Ren<br>
					Rey is <a href="http://www.cinemablend.com/new/Rey-Related-Obi-Wan-Kenobi-Video-Breaks-It-Down-102657.html">without a doubt</a> a Kenobi.<br>
					
				</h4></p>       
			</div>
			<div class="col-md-5"> 
				<img class="img-circle" src="https://i.ytimg.com/vi/cT2jfbLvtgs/maxresdefault.jpg" alt="Star Wars Photo" width="200" height="200">
			</div>
		</div>
		
		<!-- Subsection 3, Grad Schools -->
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md-5"> 
				<img class="img-circle"  src="static/phd.jpg" alt="Grad School meme" width="200" height="200">
			</div>
			<div class="col-md-7"> 
                <h2 class="featurette-heading text-left">Graduate School</h2>
				<p class="lead"><h4>
                    What even is <a href="https://cs.stanford.edu/degrees/mscs/specializations/">Software Theory</a>? I wanna do it though. <br>
                    <a href="https://www.lti.cs.cmu.edu/work">Language Technologies Institute</a> at CMU. <br>
                    Some Matt Might <a href="http://matt.might.net/articles/ways-to-fail-a-phd/">knowledge</a>. <br>
				</h4></p>
			</div>
		</div>
		
		<!-- Subsection 4, COFFEE -->
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md-7"> 
				<h2 class="featurette-heading text-left">Coffee, always an obsession</h2>
				<p class="lead"><h4>
					<a href="http://www.peets.com/subscriptions.html?gclid=CPyrnbXflMoCFQanaQodnH8DNA">Peet's Coffee</a><br>
					<a href="http://www.fixxcoffeehouse.ie/">Fixx Coffee House</a> (currently closed)<br>
					<a href="https://www.kaleidoscopecoffeecompany.com/">Kaleidoscope Coffee Company</a><br>
					<a href="http://programmers.life/2013/07/08/why-do-programmers-drink-so-much-coffee/">Why do programmers drink so much coffee?</a><br>
					
				</h4></p>
			</div>
			<div class="col-md-5"> 
				<img class="img-circle" src="https://upload.wikimedia.org/wikipedia/commons/8/87/Coffee_Beans_(2732722806).jpg" alt="Coffee Photo" width="200" height="200">
			</div>
		</div>
    
    <br>

        <!-- Past Obsessions -->
       	<!-- Section 2 -->
        <hr class="featurette-divider">
		<div class="row-fluid">
            <div class="span12 text-left">
				<p>
				<h2><span class="label label-danger">Past Obsessions</h2>
                    </p><br>
	    	</div>
		</div>
		
		<!-- Subsection 1, Haim -->
        <div class="row featurette">
			<div class="col-md-5"> 
				<img class="img-circle" src="http://static.stereogum.com/blogs.dir/2/files/2013/10/haim1.jpg" alt="Haim Photo" width="200" height="200">
			</div>
			<div class="col-md-7"> 
				<h2 class="featurette-heading">HAIM</h2>
				<p class="lead"><h4>
					Live version of <a href="https://www.youtube.com/watch?v=6gObcXsdM6g">Better Off</a><br>
					<a href="https://www.youtube.com/watch?v=aF4FcTcWcDE">My Song 5</a><br>
					This remix of <a href="https://soundcloud.com/haimtime/my-song-5-movement-version">My Song 5</a><br>
					<a href="https://www.youtube.com/watch?v=Ljg6g7BAdQo">If I Could Change Your Mind</a><br>
				</h4></p>
			</div>
		</div>
		
		<!-- Subsection 2, Programming Languages -->
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md-7"> 
				<h2 class="featurette-heading text-left">Programming Paradigms</h2>
				<p class="lead"><h4>
					<a href="https://en.wikipedia.org/wiki/Programming_language_theory">Programming Language Theory</a><br>
					<a href="http://macbeth.cs.ucdavis.edu/lang_study.pdf">This study</a><br>
					Some <a href="http://www.ybrikman.com/writing/2014/04/09/six-programming-paradigms-that-will/">obscure paradigms</a><br>
					<a href="http://www.functor.se/research/paradigm/">The next programming paradigm</a><br>
					
				</h4></p>
			</div>
        	<div class="col-md-5"> 
				<img class="img-circle" src="http://st.depositphotos.com/1756445/4385/i/950/depositphotos_43853655-Word-cloud-programming-languages-or-IT-related.jpg" alt="Code Photo" width="200" height="200">
			</div>

		</div>
		
        <!-- Subsection 3, 90s -->
		<hr class="featurette-divider">
		<div class="row featurette">
			<div class="col-md-5"> 
				<img class="img-circle" src="https://s-media-cache-ak0.pinimg.com/236x/03/d5/9f/03d59f68a0fc74b9ed1e21a8cbd0aea4.jpg" alt="90s Print" width="200" height="200">
			</div>
			<div class="col-md-7"> 
				<h2 class="featurette-heading text-left">90s Covers</h2>
				<p class="lead"><h4>
					Bastille's<a href="https://www.youtube.com/watch?v=e2EHe2rmNF0"> No Angels</a> (No Scrubs)<br>
					Passion Pit's cover of<a href="https://www.youtube.com/watch?v=e56JIp2hXcY"> Dreams</a><br>
					<a href="https://soundcloud.com/basecampmusique/basecamp-atsw-1">All That She Wants</a> cover by Basecamp<br>
					Tame Impala's cover of<a href="https://www.youtube.com/watch?v=-FkwfHJlOaU"> Stranger in Moscow</a><br>
					Can't forget a Backstreet Boys<a href="https://soundcloud.com/ty-miller-10/charli-xcx-i-want-it-that-way"> cover</a>, Charlie XCX<br>
				</h4></p>
			</div>
		</div>
 		<br>





 		
 		<!-- Footer -->
        <footer class="footer">
            <p>&copy; Created by Breanna using <a href="https://www.python.org/">Python</a>, <a href="http://flask.pocoo.org/">Flask</a>, and <a href="http://getbootstrap.com/">Bootstrap</a>, Jan 2016</p>
        </footer>
    </div>
</body>
 
</html>
